<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<body>
  <div class="page-header">
    <h1 th:text="#{search.group.for}"></h1>
  </div>

  <div class="row">
    <div class="span4 offset3">
      <form action="#" method="post" th:object="${search}" th:action="@{/search}" class="form-search">

        <div class="input-append">
          <input class="search-query" type="text" th:field="*{searchTerm}" />
          <button class="btn" type="submit" name="search" th:inline="text"><i class="icon-search"></i> [[#{search.button}]]</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>