<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="/templates/template" th:with="title=#{researcher}">
<head>
<title th:inline="text">[[#{researcher}]] | Raziskovalec.org</title>
</head>
<body>
  <div layout:fragment="sidebar"></div>
  <div layout:fragment="content" class="span12">

    <div th:if="${errors}" class="alert alert-error">
      <div th:each="err : ${errors}">
        <span class="label label-important" th:text="#{error}"></span> <span th:text="#{__${err}__}"></span>
      </div>
    </div>

    <form action="" class="form-horizontal" th:object="${researcher}" method="post">

      <h4 th:text="#{researcher.add}"></h4>
      <hr />

      <div class="control-group" th:classappend="${#fields.hasErrors('name')} ? 'error'">
        <label class="control-label" for="name" th:text="#{researcher.name}"></label>
        <div class="controls">
          <input type="text" th:field="*{name}" th:placeholder="#{researcher.name}" /> <span class="help-block"
            th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
      </div>

      <div class="control-group" th:classappend="${#fields.hasErrors('lastname')} ? 'error'">
        <label class="control-label" for="lastname" th:text="#{researcher.lastname}"></label>
        <div class="controls">
          <input type="text" th:field="*{lastname}" th:placeholder="#{researcher.lastname}" /> <span class="help-block"
            th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
        </div>
      </div>

      <div class="control-group" th:classappend="${#fields.hasErrors('email')} ? 'error'">
        <label class="control-label" for="email" th:text="#{researcher.email}"></label>
        <div class="controls">
          <input type="text" th:field="*{email}" th:placeholder="#{researcher.email}" /> <span class="help-block"
            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
      </div>

      <div class="control-group" th:classappend="${#fields.hasErrors('telephonenumber')} ? 'error'">
        <label class="control-label" for="telephonenumber" th:text="#{researcher.telephonenumber}"></label>
        <div class="controls">
          <input type="text" th:field="*{telephonenumber}" th:placeholder="#{researcher.telephonenumber}" /> <span
            class="help-block" th:if="${#fields.hasErrors('telephonenumber')}" th:errors="*{telephonenumber}"></span>
        </div>
      </div>

      <div class="control-group" th:classappend="${#fields.hasErrors('www')} ? 'error'">
        <label class="control-label" for="www" th:text="#{researcher.www}"></label>
        <div class="controls">
          <input type="text" th:field="*{www}" th:placeholder="#{researcher.www}" /> <span class="help-block"
            th:if="${#fields.hasErrors('www')}" th:errors="*{www}"></span>
        </div>
      </div>

      <div class="control-group" th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'error'">
        <label class="control-label" for="dateOfBirth" th:text="#{researcher.dateofbirth}"></label>
        <div class="controls">
          <input type="text" th:field="*{dateOfBirth}" th:placeholder="#{researcher.dateofbirth}" /> <span
            class="help-inline" th:text="#{researcher.dateofbirth.format}"></span> <span class="help-block"
            th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" id="save" name="save" class="btn btn-primary" th:text="#{researcher.save}"></button>
        <a th:href="@{/researcher}" class="btn" th:text="#{researcher.cancel}"></a>
      </div>
    </form>

  </div>

  <script layout:fragment="script" type="text/javascript">
			(function($) {

				$(document).ready(function() {
					$("#name").focus();
				});

			}(jQuery));
		</script>
</body>
</html>