<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="/templates/template"
  th:with="title=#{login}">
  <head>
    <title th:inline="text">[[#{login}]] | Raziskovalec.org</title>
  </head>
<body>
  <div layout:fragment="sidebar">
  </div>

  <div class="span6 offset3" layout:fragment="content">
    <form class="form-horizontal well center-block">
      <h4 th:text="#{login}">Login</h4>
      <hr />

      <div class="control-group">
        <label class="control-label" for="username" th:text="#{login.username}">Username</label>
        <div class="controls">
          <input id="username" name="username" type="text" th:placeholder="#{login.username}" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password" th:text="#{login.password}">Password</label>
        <div class="controls">
          <input id="password" name="password" type="password" th:placeholder="#{login.password}" />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit" th:value="#{login.login}" />
        </div>
      </div>
    </form>
  </div>
</body>
</html>