<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" class="no-js" lang="en"
	th:with="title = #{__${titleExpression}__}">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="${'Raziskovalec.org - ' + title}"></title>
<meta name="description" content="Page for researchers" />
<meta name="author" content="Rene Svetina" />

<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" th:href="@{/resources/css/style.css}" />

<script th:src="@{/resources/js/libs/modernizr-2.5.3.min.js}"></script>
</head>
<body>

	<div id="wrap">

		<header>
			<hgroup>
				<h1>Raziskovalec.org</h1>
				<h2>at your service</h2>
			</hgroup>
			<div id="internationalization">
				<a href="?locale=en">English</a> <a href="?locale=sl">Slovenščina</a>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}" th:text="#{home}"
						th:with="current=#{home}"
						th:class="${title == current ? 'selected' : ''}">Home</a></li>
					<li><a th:href="@{/search}" th:text="#{search}"
						th:with="current=#{search}"
						th:class="${title == current ? 'selected' : ''}">Search</a></li>
					<li><a th:href="@{/researcher}" th:text="#{researcher}"
						th:with="current=#{researcher}"
						th:class="${title == current ? 'selected' : ''}">Researcher</a></li>
					<li><a th:href="@{/organization}" th:text="#{organization}"
						th:with="current=#{organization}"
						th:class="${title == current ? 'selected' : ''}">Organizations</a></li>
					<li><a th:href="@{/group}" th:text="#{group}"
						th:with="current=#{group}"
						th:class="${title == current ? 'selected' : ''}">Groups</a></li>
				</ul>
			</nav>
		</header>

		<div id="content" tiles:substituteby="content"></div>
		<footer> Raziskovalec.org </footer>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script src="../resources/js/plugins.js"
		th:src="@{/resources/js/plugins.js}"></script>
	<script src="../resources/js/script.js"
		th:src="@{/resources/js/script.js}"></script>
</body>
</html>