

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.center-block{
	margin: 0px auto;
}

.center-text{
	text-align: center;
}














