<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="raziskovalec-domain" verbose="1">
    <test name="NaslovBuilders">
        <classes>
            <class name="org.raziskovalec.domain.builders.naslov.MestoBuilderTest" />
            <class name="org.raziskovalec.domain.builders.naslov.NaslovBuilderTest" />
            <class name="org.raziskovalec.domain.builders.naslov.PostaBuilderTest" />
        </classes>
    </test>
</suite>


